@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorWebApp.Shared.MainLayout)">
                <NotAuthorized>
                    <div align="center" style="width:100%;">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    @if (context.User.Identity != null)
                                    {
                                        @if (!context.User.Identity.IsAuthenticated)
                                        {
                                            try
                                            {
                                                navigationManager.NavigateTo("login");
                                            }
                                            catch (Exception ex)
                                            {

                                            }
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.h6">Acesso não autorizado!</MudText>
                                        }
                                    }
                                    else
                                    {
                                        try
                                        {
                                            navigationManager.NavigateTo("/login", true);
                                        }
                                        catch(Exception ex)
                                        {
                                            
                                        }
                                    }
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudIconButton Icon="@Icons.Material.Filled.Error" Color="Color.Warning" />
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Color="Color.Warning">Acesso não autorizado a respectiva funcionalidade.</MudText>
                            </MudCardContent>

                        </MudCard>
                    </div>
                </NotAuthorized>
                <Authorizing>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(BlazorWebApp.Shared.MainLayout)">
                <p>Endereço Inválido!</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>
